* {
    box-sizing: border-box
}
body {
    background-image: url(assets/images/camouflage.jpg);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/*#main-container {
    padding-top: 130px;
}*/

.headimg {
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.wins, 
.guessesCount,
h2 {
    font-family: Orbitron,serif;
    font-size: 20px;
    color: rgb(255, 230, 0);
    text-align: center;
    font-style: italic;
    margin: 20px;
}

.wins {
    margin: 10px;
    float: right;
}

.guessesCount {
    margin: 10px;
    float: left;
}

.transbox {
    float: left;
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6; 
    height: 65px;
    width: 65px;
    display: block;
    margin-left: 30px;
}

.letterBox {
    z-index: 100;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: lightskyblue;
    border: 1px solid darkblue;
    height: 65px;
    width: 65px;
    color: black;
    font-family: Orbitron,serif;
    font-weight: bold;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.results-container {
    clear: both;
    padding: 30px;
    margin: 50px;
    width: 100%;
    max-width: 500px;
    float: center;
    border: 1px solid #ddd;
    color: white;  
}

.container {
    clear: both;
    z-index: 90;
    width: 100%;
    margin: 0;
    background-color: grey;
    color: white;
    height: 35px;
    padding: 15px;
    position: fixed;
    text-align: center;
    bottom: 0px;
}

.underscore {
    font-family: Orbitron,serif;
    font-size: 50px;
    color: greenyellow;
    text-align: center;
    font-style: bold;
    margin: 20px;
}

.wrongGuess {
    font-family: Orbitron,serif;
    font-size: 20px;
    color: rgb(255, 230, 0);
    text-align: center;
    font-style: italic;
    margin: 20px;
}

.rightGuess {
    font-family: Orbitron,serif;
    font-size: 20px;
    color: rgb(255, 230, 0);
    text-align: center;
    font-style: italic;
    margin: 20px;
}

